.recipe-details {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #444;
    overflow-y: auto;
    max-height: 70vh; 
}

.recipe-details h2 {
    margin-top: 0;
}

.recipe-details img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.recipe-details .tags {
    margin-bottom: 10px;
}

.recipe-details .tag {
    display: inline-block;
    background-color: #ff6347;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
}

.recipe-details .summary {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.recipe-details .details {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.recipe-details .details span {
    display: block;
    margin-bottom: 5px;
}

.recipe-details .score {
    font-size: 1em;
    margin-bottom: 15px;
}

.recipe-details .similar-recipes {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.recipe-details .taste-profile {
    margin: 20px 0;
}

.recipe-details .taste {
    display: flex;
    gap: 10px;
}

.recipe-details .taste span {
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}

.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.ingredients-list li {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}